

#mybox {
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    background-color: rgb(240, 140, 10);
    align-items: center;
    align-self: auto;
    text-align: center;
    line-height: 100px;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
}

#mybutton {
    width: 200px;
    height: 100px;
    font-size: 2rem;
    background-color: lightblue;
    border: 2px solid black;
    cursor: pointer;
}